header{
	text-align: center;
	background-color: rgb(244, 66, 66);
	color: #f2e6e6;
}
h4{
	text-align: center;
}
main{
	height:400px;
	text-align: center;
}

img.cardBack{
	background-size: cover;
	height: 260px;
	width: 190px;
	display: inline-block;
	margin-top: 5%;
}

.leftScore{
	display:block;
	float: left;
	font-size:20px;
	border: 3px black solid;
	padding: 10px;
	

}
.rightScore{
	display:block;
	float:right;
	font-size:20px;
	border: 3px black solid;
	padding: 10px;
}

.leftCardFace{
	display: block;
	border: 3px dotted grey;
	float: right;
	width:190px;
	height: 260px;
	background-color: #f0ffea;
	background-size: cover;
}
.rightCardFace{
	border: 3px dotted grey;
	float: left;
	width:190px;
	height: 260px;
	background-color: #f0ffea;
	background-size: cover;
}
#leftBack{
	float:left;
	margin-left: 5%;
}
#rightBack{
	float: right;
	margin-right: 5%;
}
.leftBox{
	
	border: 3px solid black;
	height:300px;
	width:500px;
	float: left;
	display: block;
	margin-right: 5%
	margin-left: 25%;
	margin-top:5%;
}
.rightBox{
	border: 3px solid black;
	height:300px;
	width:500px;
	float: right;
	display: block;
	margin-top:5%;
}
button{
	display: inline-block;
	margin:0 auto;

}
#panther{
	margin-left: 10%;
	float:left;
}
#skull{
	float:right;
	margin-right: 10%;
}

h5{
	padding: 20px;
}
footer{
	text-align:center;
	background-color: black;
	color: white;
	height: 300px;

}
